<body>
<form>
  <table class="table table-striped">
    <thead>
    <tr>
      <th sortable="name" scope="col" (sort)="onSort($event)">
        Name
      </th>
      <th scope="col" sortable="characterClass" (sort)="onSort($event)">Class</th>
      <th scope="col" sortable="dkp" (sort)="onSort($event)">DKP</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let raider of raiders$ | async">
      <td>
        <!--<ngb-highlight [result]="raider.name" [term]="service.searchTerm"></ngb-highlight>-->
        <a routerLink="/raiderdetail/{{raider.name}}">{{raider.name}}</a>
      </td>
      <td>
        <img src={{classPicture[raider.characterClass.toUpperCase()]}} class="mr-2" style="width: 20px">
        <ngb-highlight [result]="raider.characterClass"></ngb-highlight>
      </td>
      <td><ngb-highlight [result]="raider.dkp | number"></ngb-highlight></td>
    </tr>
    </tbody>
  </table>

</form>
</body>

