<body>
  <div class="row">
    <div class="col-4 mb-2"></div>
    <div class="col-4 mb-2">
      <h1 align="center">Current Raiders</h1>
    </div>
    <div class="col-4 mb-2"></div>
</div>
<div class="row">
  <div class="col mb-3" *ngFor="let button of buttons;let index = index;">
    <button class="btn btn-block" (click)="onClick(index)" [style.background-color]="button.clicked ? 'green' : 'gray'" name="raiderButton">{{button.raider.name}}<br/>{{button.raider.dkp}} DKP</button>
  </div>
</div>
<div class="row">
  <div class="col-5 mb-2">
    <h2 align="center">Group Operations</h2>
    <button class="btn btn-block" (click)="clickAddDkp()"  name="addDkpButton">Add DKP to Selected</button>
    <button class="btn btn-block" (click)="clickDecayRaiders()" name="addDkpButton">Decay All Raiders</button>
  </div>
  <div class="col-2 mb-2"></div>
  <div class="col-5 mb-2">
    <h2 align="center">Single Raider Operations</h2>
    <button class="btn btn-block" (click)="clickAddRaider()" name="addDkpButton">Add New Raider</button>
    <button class="btn btn-block" name="addDkpButton">Give Item to Selected</button>
  </div>
</div>
</body>

