<body>
  <div class="row">
    <div class="col-4 mb-2"></div>
    <div class="col-4 mb-2">
      <h1 align="center">Current Raiders</h1>
    </div>
    <div class="col-4 mb-2"></div>
</div>
<div class="row">
  <div class="col btn-group btn-block mb-3" role="group" *ngFor="let button of buttons;let index = index;">
    <button class="btn" style="white-space: nowrap;" (click)="onClick(index)" [style.background-color]="button.clicked ? 'green' : 'gray'" name="raiderButton">{{button.raider.name}}<br/>{{button.raider.dkp}} DKP</button>
  </div>
</div>
<div class="row">
  <div class="col-5 mb-2">
    <h2 align="center">Group Operations</h2>
    <button class="btn btn-block" (click)="clickAddDkp()"  name="addDkpButton">Add DKP to Selected</button>
    <button class="btn btn-block" (click)="clickDecayRaiders()" name="decayRaidersButton">Decay All Raiders</button>
  </div>
  <div class="col-2 mb-2"></div>
  <div class="col-5 mb-2">
    <h2 align="center">Single Raider Operations</h2>
    <button class="btn btn-block" (click)="clickAddRaider()" name="addRaiderButton">Add New Raider</button>
    <button class="btn btn-block" (click)="clickGiveItem()" name="giveItemButton">Give Item to Selected (ONE AT A TIME)</button>
  </div>
</div>
<div class="row">
  <div class="col-4 mb-2"></div>
  <div class="col-4 mb-2">
    <h2 align="center">Admin Operations</h2>
    <button class="btn btn-block btn-danger" (click)="clickLogout()" name="logoutButton">Logout</button>
  </div>
  <div class="col-4 mb-2"></div>
</div>
</body>

